body {
  display: block;
  margin: 0;
  background-color: black;
}

#wrapper {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#cssImage {
  width: 400px;
  height: 200px;
  background-image: url('./assets/images/sprites/game-image-3.png');
}

canvas {
  display: block;
  height: 100%;
  margin: auto auto;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}